body{
    font-family: Arial, Helvetica, sans-serif;
}
.hoje{
    color: darkred;
}
.amanha{
    color:darkblue;
}
a{
    text-decoration: none;
}
h2 a{
    color: seagreen;    
    transition: 1.5s;
}

h2 a:hover{
    color:darkblue;
}
p{
    font-size: 20px;
}